{% block scripts %}
<script>
    function setPorcentajeApoderado(){
        let porcentajeApoderado = document.getElementById("porcentajeApoderado").value
    }
    console.log(document.getElementById('form'))

    document.addEventListener("DOMContentLoaded", function(e) {
        document.getElementById('form').addEventListener('submit', function(e){ //say this is an anchor
        console.log('Entreeeeeee')
        let prevent = false
        let totalPorcentajeSocios = 0;
        let porcentajes = document.getElementsByName("porcentajeSocio");
        porcentajes.forEach(e => {
            totalPorcentajeSocios += parseFloat(e.value)
        })
        let porcentajeApoderado = parseFloat(document.getElementById("porcentajeApoderado").value)
        
        if(porcentajeApoderado < totalPorcentajeSocios){
            document.getElementById("error-porcentaje").textContent = 'El apoderado tiene que ser el mayoritario'
            prevent = true
        }
        if((parseFloat(porcentajeApoderado) + totalPorcentajeSocios) != 100){
            document.getElementById("error-porcentaje").textContent = 'El total del porcentaje tiene que ser 100%'
            prevent = true
        }
        //Chequear que el total sea 100
        if(prevent) event.preventDefault()
        
    });
    });

    let values = []
    
    function getSelectedCountries(){
        let options = document.getElementById('countries').selectedOptions
        values = Array.from(options).map(({ value }) => value)
    }

    const countryStates = (country = "AR") => {
        let options = ''
        let selectStates = document.getElementById("states")
       
        getSelectedCountries()
        
        const url = 'https://countries.trevorblades.com/'
        values.forEach(async (countryCode) => {
            let response = await fetch(url, {
            method: 'POST', // *GET, POST, PUT, DELETE, etc.
            headers: {
            'Content-Type': 'application/json'
            // 'Content-Type': 'application/x-www-form-urlencoded',
            },
            body: JSON.stringify({
                query: `
                    query {
                        country(code: "${countryCode}") {
                            states {
                                name
                            }
                        }
                    }
                `
            })
        })
        response = await response.json()
        let states = response.data.country.states
        states.forEach(state => options += `<option value="${state.name}:${countryCode}"> ${state.name} (${countryCode}) </option>`)
        selectStates.innerHTML = options
        }) 
    }   
    countryStates()
    
</script>
{% endblock scripts %}


{% block content %}
{% if expired %}
<h1> Expirado </h1>
{% else %}
    {% if existe_sociedad %}
    <div>
        <p id="title"> Formulario de correccion de Sociedad Anonima </p>
        <div id= "formAndErros"> 
            <label id="error-porcentaje" ></label>
            <form id="form" method="POST" action={{action_url}} enctype="multipart/form-data">
                {% csrf_token %}
                <div>
                    {% if error %}
                        <span>{{error}}</span>
                    {% endif %}
                </div>
                <div class="labelAndInput">
                    <label for="nombre"> Nombre </label> 
                    <input id="nombre" name="nombre" type="text" placeholder="Ingrese el nombre de la SA" value={{sociedad_anonima.nombre}} required/>
                </div>
                <div class="labelAndInput" >
                    <label for="nombre"> Porcentaje de aportes del apoderado</label> 
                    <input id="porcentajeApoderado" name="porcentajeApoderado" type="number" value={{sociedad_anonima.apoderado.porcentaje_aporte}} min="0" max="100" required/>
                </div>
                <div class="labelAndInput">
                    <label for="domicilio_legal"> Domicilio Legal </label> 
                    <input id="domicilio_legal" name="domicilio_legal" type="text" placeholder="Ingrese el domicilio legal" value={{sociedad_anonima.domicilio_legal}} required/>
                </div>
                <div class="labelAndInput">
                    <label for="nombre"> Domicilio Real </label> 
                    <input id="domicilio_real" name="domicilio_real" type="text" placeholder="Ingrese el domicilio real" value={{sociedad_anonima.domicilio_real}} required/>
                </div>
                <div class="labelAndInput">
                    <h1> Apoderado </h1>
                    <div>
                        <div class="labelAndInput">
                            <label for="nombre_apoderado"> Nombre Apoderado</label> 
                            <input id="nombre_apoderado" name="nombre_apoderado" type="text" placeholder="Ingrese el nombre del apoderado" value={{sociedad_anonima.apoderado.nombre}} required/>
                        </div> 
                        <div class="labelAndInput">
                            <label for="apellido"> Apellido Apoderado </label> 
                            <input id="apellido_apoderado" name="apellido_apoderado" type="text" placeholder="Ingrese el apellido del apoderado" value={{sociedad_anonima.apoderado.apellido}} required/>
                        </div>
                        <div class="labelAndInput" >
                            <label for="estatuto"> Estatuto {{sociedad_anonima.estatuto}} </label> 
                            <input id="estatuo" name="estatuo" type="file"/>
                        </div>
                    </div>
                </div> 
                <div class="labelAndInput" >
                    <h1> Socios </h1>
                    {% for socio in sociedad_anonima.socios.all %}
                    <div id="socios">
                        <div class="labelAndInput">
                            <label> Nombre Socio</label> 
                            <input id="nombre_apoderado" name="nombre_socio" type="text" placeholder="Ingrese el nombre del apoderado" value={{socio.nombre}} required/>
                        </div> 
                        <div class="labelAndInput">
                            <label> Apellido Socio </label> 
                            <input id="apellido_apoderado" name="apellido_socio" type="text" placeholder="Ingrese el apellido del apoderado" value={{socio.apellido}} required/>
                        </div>
                        <div class="labelAndInput" >
                            <label> Porcentaje Socio</label>
                            <input id="porcentajeSocio" name="porcentajeSocio" type="number" min="0" max="100" value={{socio.porcentaje_aporte}}  required/>
                        </div>
                    </div>
                    {% endfor %}
                    
                </div> 
                <div id="combos">
                    <label for="nombre"> Paises que exporta </label> 
                    <select id="countries" name="countries" onchange="countryStates()" multiple>
                        {% for c in countries %}
                            {% if c.code in selected_countries_code %}
                            <option value="{{c.code}}" selected>{{c.name}}</option>
                            {% else %}
                            <option value="{{c.code}}">{{c.name}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <label for="states" id="label-states">Estados para</label>
                    <select id="states" name="states" multiple>
                        {% for country, country_states in states.items %}
                            {{country}}
                            {% for state in country_states %}
                                {% if state.name in selected_states_name %}
                                <option value="{{state.name}}:{{country}}" selected> {{state.name}} {{country}} </option>
                                {% else %}
                                <option value="{{state.name}}:{{country}}"> {{state.name}} {{country}} </option>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </select>
                </div>
                <div id="divEnviar">
                    <input type="submit" value="Enviar">
                </div>


            </form>
        </div>
    </div>
    {% else %}
    <h1> La sociedad no existe </h1>
    {% endif %}
{% endif %}


<style>
    #title{
        font-size: xx-large;
        text-align: center;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    #combos{
        display: flex;
        flex-direction: column;
    }

    .labelAndInput{
        display: flex;
        flex-direction: column;
        margin: 1rem;
    }
    input, select{
        border: solid 1px grey;
        padding: 0.3rem;
    }

    select{
        margin-bottom: 2rem;
        height: 10rem;
    }

    #formAndErros{
        display: flex;
        justify-content: center;
    }

    #divEnviar{
        text-align: center;
    }

</style>
{% endblock content %}