{% extends "layout.html" %}

{% block scripts %}
<script>
    
</script>
{% endblock scripts %}

{% block content %}
{% if found %}
<div>
    <p id="nombre"> Sociedad Anonima: {{ sociedad_anonima.nombre }}  </p>
    <p id="fecha"> Sociedad Anonima: {{ sociedad_anonima.fecha_creacion }}  </p>
    <div id="socios"> 
        <p>Socios</p>
        <ul>
            {% for socio in socios %}
                <li>
                    <span>{{socio.nombre}}</span>
                    <span>{{socio.apellido}}</span>
                    <span>{{socio.porcentaje_aporte}}</span>
                    <!-- FALTA AGREGAR LA FOTO DEL QR -->
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% else %}
<div style="display: flex; justify-content: center;">
    <div> No encontramos al socio!!!! </div>
</div>
{% endif %}


<style>
    

</style>
{% endblock content %}