{% extends "layout.html" %}

{% block scripts %}
<script>
    
</script>
{% endblock scripts %}

{% block content %}
{% if found %}
<div>
    <p id="nombre"> Sociedad Anonima: {{ sociedad_anonima.nombre }}  </p>
    <p id="fecha"> Fecha: {{ sociedad_anonima.fecha_creacion }}  </p>
    <p id="fecha"> Domicilio legal: {{ sociedad_anonima.domicilio_legal }}  </p>
    <p id="fecha"> Domicilio real: {{ sociedad_anonima.domicilio_real }}  </p>

 
</div>
{% else %}
<div style="display: flex; justify-content: center;">
    <div> No encontramos al socio!!!! </div>
</div>
{% endif %}


<style>
    

</style>
{% endblock content %}